#title {
  display:flex;
  justify-content: center;
}


#signUpForm {
  background-color: rgb(0, 238, 255);
}

#existingGroups {
  background-color: pink;
}

.studentName:hover {
  font-weight: 800;
}

form:hover {
  color: green;
}