<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/test.css">

    <script src="/static/test.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="title">
        <h1> Group sign-up </h1>
      </div>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
            <li> {{ message }} </li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}

      <div id="signUpForm">
        <p> Enter your student numbers of the people in your group </p>
        <p> It is not required to have 4 people, you will be assigned members to fill out your group </p>
        <form action="/submit" method="post">
          {{ form.hidden_tag() }}

          {{ form.groupSize.label }}
          {{ form.groupSize }}
          <br>
          {{ form.student1.label }}
          {{ form.student1 }}
          <br>
          {{ form.student2.label }}
          {{ form.student2 }}
          <br>
          {{ form.student3.label }}
          {{ form.student3 }}
          <br>
          {{ form.student4.label }}
          {{ form.student4 }}
          <br>
          {{ form.submit() }}
        </form>

        <button class="btn btn-danger" onclick="location.href='{{ url_for('groups') }}'">
          <span class="fa fa-trash"></span> Cancel
        </button>
      </div>

    </div>
  </body>
</html>